<% include ../partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-2">
      <h1>Nova Pessoa</h1>
      <p><a class="" href="/pessoas">Voltar a lista de pessoas</a></p>
      <div class="card">
        <div class="card-header">Preencha o formulário</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" id ="nome" name="nome" placeholder="Nome" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nome" ></label>Nascimento</label>
                    <input type="text" id ="nascimento" name="nascimento" placeholder="Nascimento" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="cargo" ></label>Cargo</label>
                      <input type="text" id ="cargo" name="cargo" placeholder="Cargo" class="form-control">
                    </div>
                <button class="btn btn-block btn-primary">Salvar</button>
              </form>
        </div>
      </div>
     
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
